<footer class="footer">
  <small>
    <%= link_to "Curre, tu stultus, ego vado", run_path %>
    <%= link_to image_tag("EGO.png", alt: "Ego_deus_et_rex"), 'https://www.instagram.com/ego_deus_et_rex/ '%>
    <a href="https://www.instagram.com/ego_deus_et_rex/">Ego_deus_et_rex (ↄ).</a> 
    <%= link_to image_tag("Coffin.png", alt: "Laughing Coffin"),
            'http://swordartonline.wikia.com/wiki/Laughing_Coffin' %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://google.com/">News</a></li>
    </ul>
  </nav>
</footer>